@font-face {
    font-family: Mine;
    src: url(fonts/BookmanStd-Medium.otf)
}

@font-face {
    font-family: MineLight;
    src: url(fonts/BookmanStd-Light.otf)
}

@font-face {
    font-family: MineBold;
    src: url(fonts/BookmanStd-Bold.otf)
}


html {
    /* font-family: 'DM Serif Display', serif; */
    /* font-family: 'Lora', serif; */
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-family: Mine, Georgia, 'Times New Roman', Times, serif;
    /* font-family: 'Open Sans'; */
    /* font-weight: bold; */
    }

#main {
    display: flex;
    justify-content: center;
}

#information {
    margin-right: 0%;
    margin-top: 1%;
    /* max-width: 15%; */
    max-width: 300px;
    min-width: 300px;
}

a {
    color: darkslategrey;
    font-size: larger;
}

h2 {
    margin-top: 4%;
    margin-bottom: 2%;
}

p {
    font-size: medium;
}

.item {
    margin-bottom: 3%;
}

a:link{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

a:hover {
    color: grey;
}

.vr {
    margin: 3%;
}

.list {
    font-weight: lighter;
}


.listdetail {
    display: block;
    font-family: Georgia, serif;
    margin: 0px;
    border: none;
    font-size: medium;
}

.aboveimage {
    float: right;
    position: absolute;
    right: 0;
    top: 35%;
    z-index: 2;
    text-shadow:    3px 0 #fff, -3px 0 #fff, 0 3px #fff, 0 -3px #fff,
                    2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
                    1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}


#notes {
    display: none;
}

.buttons {
    margin-top: 5%;
    float: right;
    display: flex;
    flex-direction: column;
}

button{
    margin-top: 5%;
    border: none;
    border-right: 3px solid black;
    background-color: inherit;
}

button:hover {
    border-right: 3px solid green;
}

.noteblock {
    border: black;
    border-radius: 10px;
    margin: 10%;
    /* min-width: 50%; */
}

.noteflex {
    display: flex;
    /* max-width: 10%; */
    width: 70em;
    flex-wrap: wrap;
    flex-direction: row;
}