/* CSS Taken from Pandoc */

/* https://coolors.co/808080-8080ff-80ff80-80ffff-ff8080-ff80ff-ffff80-ffffff */
:root {
    --M: #80FF80;
    --W: #FF80FF;

    --AC1: #8080FF;
    --AC2: #80FFFF;
    --AC3: #FF8080;
    --AC4: #FFFF80;

    --BG: #1A1A1A;
    --TEXT: #FFFFFF;
}

::selection {
  background-color: var(--M);
  -webkit-text-stroke-width: 1px;
  color: var(--BG);
  /* color: var(--TEXT); */
  /* color: rgb(110, 40, 79); */
}

@font-face {
  font-family: Bookman;
  src: url(fonts/BookmanStd-Light.otf)
}

html {
    /* color: #1a1a1a; */
    color: var(--TEXT);
    /* background-color: #fdfdfd; */
}

body {
    margin: 0 auto;
    max-width: 52em;
    padding: 50px;
    hyphens: auto;
    overflow-wrap: break-word;
    text-rendering: optimizeLegibility;
    font-kerning: normal;
    background-image: url("rect430.png");
    background-repeat: repeat;
}

img {
    max-height: 20em;
    margin: 5px 15px;
    float: left;
    /* display: block; */
    padding: 5px;
    border: 3px dashed var(--TEXT);
}

iframe {
    display: block;
    margin: 10px auto;
    padding: 5px;
    margin: 5px 15px;
    float: right;
    /* border: var(--TEXT);
    border-width: 10px; */
    border: 3px dashed var(--TEXT);
}


.scratch-preview {
    margin: auto;
}

canvas {
    border: 1px dashed #666;
}

/*@media (max-width: 600px) {
    body {
        font-size: 0.9em;
        padding: 12px;
    }

    h1 {
        font-size: 1.8em;
    }
}*/



@media print {
    html {
        color: #1a1a1a;
        background-color: white;
    }

    body {
        background-color: transparent;
        color: black;
        font-size: 12pt;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3,
    h4 {
        page-break-after: avoid;
    }
}

p {
    /* margin: 1em 0; */
    /* margin: 0; */
    font-size: large;
    text-align: justify;
    /* margin-top: 0; */
}

a {
    /* color: #1a1a1a; */
    color: inherit;
    padding-right: 5px;
    padding-bottom: 2px;
}

a:visited {
    /* color: #1a1a1a; */
    color: inherit;
}

img {
    max-width: 100%;
}

svg {
    height: auto;
    max-width: 100%;
}

h1 {
  font-family: Bookman, Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Bookman, Georgia, 'Times New Roman', Times, serif;
    margin-top: 1.4em;
    margin-bottom: 0px;
}

h5,
h6 {
    font-size: 1em;
    font-style: italic;
}

h6 {
    font-weight: normal;
}

ol,
ul {
    padding-left: 1.7em;
    margin-top: 1em;
}

li>ol,
li>ul {
    margin-top: 0;
}

blockquote {
    margin: 1em 0 1em 1.7em;
    padding-left: 1em;
    border-left: 2px solid #e6e6e6;
    /* color: #606060; */
    color: rgb(200, 190, 200);
}

code {
    font-family: Menlo, Monaco, Consolas, 'Lucida Console', monospace;
    font-size: 85%;
    margin: 0;
    hyphens: manual;
}

pre {
    margin: 1em 0;
    overflow: auto;
}

pre code {
    padding: 0;
    overflow: visible;
    overflow-wrap: normal;
}

.sourceCode {
    background-color: transparent;
    overflow: visible;
}

hr {
    background-color: #1a1a1a;
    border: none;
    height: 1px;
    margin: 1em 0;
}

table {
    margin: 1em 0;
    border-collapse: collapse;
    width: 100%;
    overflow-x: auto;
    display: block;
    font-variant-numeric: lining-nums tabular-nums;
}

table caption {
    margin-bottom: 0.75em;
}

tbody {
    margin-top: 0.5em;
    border-top: 1px solid #1a1a1a;
    border-bottom: 1px solid #1a1a1a;
}

th {
    border-top: 1px solid #1a1a1a;
    padding: 0.25em 0.5em 0.25em 0.5em;
}

td {
    padding: 0.125em 0.5em 0.25em 0.5em;
}

header {
    margin-bottom: 4em;
    text-align: center;
}

nav {
    text-wrap: wrap;
    /* position: fixed;  */
    /* left: 5%; */
    /* float: left; */
    /* max-width: calc(30% - 20em); */
    /* transform: translate(-50%, 0); */
    height: 100%;
    border-bottom: 1px dashed #666;
    /* padding-left: 0.5in;
    padding-right: 0.5in; */
}

#TON a {
    background-color: inherit;
    border: 2px solid var(--TEXT);
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: var(--TEXT);
    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: var(--TEXT);
    border-left: none;
    border-top: none;
    cursor: pointer;
    text-align: left;
    transition-duration: .2s;
    text-decoration: none;
}

#TON a:hover {
  background-color: var(--M);
  color: var(--BG);
}

#TON li {
    font-size: larger;
    font-weight: 700;
    /* float: left; */
}

nav li {
    list-style: none;
}

nav ul {
    padding-left: 0.5em;
}

nav>ul {
    /* padding-left: 0; */
}

nav a:not(:hover) {
    text-decoration: none;
}

code {
    white-space: pre-wrap;
}

span.smallcaps {
    font-variant: small-caps;
}

div.columns {
    display: flex;
    gap: min(4vw, 1.5em);
}

div.column {
    flex: auto;
    overflow-x: auto;
}

div.hanging-indent {
    margin-left: 1.5em;
    text-indent: -1.5em;
}

/* The extra [class] is a hack that increases specificity enough to
     override a similar rule in reveal.js */
ul.task-list[class] {
    list-style: none;
}

ul.task-list li input[type="checkbox"] {
    font-size: inherit;
    width: 0.8em;
    margin: 0 0.8em 0.2em -1.6em;
    vertical-align: middle;
}

.display.math {
    display: block;
    text-align: center;
    margin: 0.5rem auto;
}

/*.note {
    position: relative;
    top: 10%;
    right: 2em;
    transform: translateX(calc(20vw - 50%));
    float: right;
    max-width: 20em;
}*/

.note-number {
    counter-increment: note-counter;
}

label.note-number {
    margin-left: -0.2em;
    display: inline-block;
    max-height: 2em;
    color: #FFAAAA;
    font-size: 10px;
    transform: translateY(-10px);
}

.note-number::after,
.note::before {
    content: counter(note-counter) " ";
}

.note::before {
    position: relative;
    vertical-align: baseline;
    top: -0.5em;
    color: #FFAAAA;
    font-size: 0.8em;
    margin-left: -0.75em !important;
}

.note {
    float: right;
    clear: right;
    margin-right: -45%;
    max-width: 40%;
    margin-top: 0;
    margin-bottom: 0.5em;
    vertical-align: baseline;
    position: relative;
}

@media only screen and (max-width: 1600px) {
    .note {
        display: block;
        float: left;
        left: 1rem;
        clear: both;
        max-width: 95%;
        margin: 1rem 2.5%;
        vertical-align: baseline;
        position: relative;
    }
}
