a {
    color: darkslategray;
    font-size: larger;
    cursor: pointer;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    color: grey;
}

.Content {
    min-width: auto;
    margin: 0;
    margin-top: 1in;
    max-width: 8.5in;   
    padding-left: 20px;
    border-left: dashed 1px;
}

iframe {
    margin-top: 0.3in
}

/* @media (max-width: 768px){
    .Content {
        flex-direction: column;
    }
} */