a {
    color: darkslategray;
    font-size: larger;
    cursor: pointer;
    text-decoration: none;
}

/* a:link {
    text-decoration: none;
} */

a:visited {
    text-decoration: none;
}

a:hover {
    color: grey;
}

.Content {
    width: 0;
    min-width: 6.5in;
    /* max-width: 8.5in; */
    padding-left: 30px;
    border-left: dashed 1px #666;
    margin-top: 1in;
    margin-bottom: 1in;
    margin-left: 1%;
    margin-right: 1%;

    /* padding: 1in; */
    /* padding-left: 1in; */
    padding-right: 1in;

    /* Flex Properties */
    flex-grow: 1;
    
}

/* Width from .Content size + Information.css: max-width + Information.css: margin-right + .Content padding-left */
@media (max-width: calc(8.5in + 300px + 50px + 20px)) { 
    .Content {
        border-left: none;
    }
}

/* @media (max-width: 768px){
    .Content {
        flex-direction: column;
    }
} */