@font-face {
  font-family: Bookman;
  src: url(fonts/BookmanStd-Light.otf)
}

body {
  background-color: #fff;
  /* margin: 0; */
  /* margin-top: 5%; */
  font-family: Bookman, Georgia, 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-left: 5vh;
}

p {
  font-family: Georgia, serif;
  font-size: medium;
}