@font-face {
  font-family: Bookman;
  src: url(fonts/BookmanStd-Light.otf)
}

body {
  /* background-color: #fff; */
  /* background: url(https://grainy-gradients.vercel.app/noise.svg); */
  /* background: linear-gradient(to bottom, white, rgba(0, 0, 0, 0)), url(https://grainy-gradients.vercel.app/noise.svg); */
  /* margin: 0; */
  /* margin-top: 5%; */
  font-family: Georgia, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* margin-left: 5vh; */
  /* min-height: 98vh; */
  max-height: 100%;
  margin: auto;
  overflow-x: hidden;
  /* overflow: auto; */
}

h1 {
  font-family: Bookman, Georgia, 'Times New Roman', Times, serif;
  font-size: 40px;
  margin-bottom: 10px;
}

h2 {
  font-family: Bookman, Georgia, 'Times New Roman', Times, serif;
  font-size: 32px;
}

h3 {
  font-family: Bookman, Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
}

p {
  font-size: medium;
  line-height: 1.6;
}

.br {
  display: block;
  margin-bottom: 5px;
}

img {
  width: 6.5in;
}

table {
  border: 2px dashed black;
  width: 100%;
  /* text-align: left; */
  padding: none;
}

td, th {
  vertical-align: top;
  border: 2px dashed black;
  padding: 10px;
}

/* ::selection {
  background-color: #ffff3d;
  -webkit-text-stroke-width: 1px;
  color: #333;
} */

::selection {
  background-color: #32cd324f;
  -webkit-text-stroke-width: 1px;
  color: #111;
}

button {
  font-family: 'Georgia', serif;
  /* font-family: Helvetica, Arial, sans-serif; */
  font-weight: bolder;
  text-transform: uppercase;
}