@font-face {
  font-family: Bookman;
  src: url(fonts/BookmanStd-Light.otf)
}

body {
  background-color: #fff;
  /* margin: 0; */
  /* margin-top: 5%; */
  font-family: Bookman, Georgia, 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* margin-left: 5vh; */
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 25px;
}

p {
  font-family: Georgia, serif;
  font-size: medium;
  line-height: 1.6;
}

.fig-text {
  font-size: 14px;
  text-align: center;
  font-style: italic;
}

.br {
  display: block;
  margin-bottom: 5px;
}

img {
  width: 6.5in;
}

table {
  border: 2px dashed black;
  width: 100%;
  /* text-align: left; */
  padding: none;
}

td, th {
  vertical-align: top;
  border: 2px dashed black;
  padding: 10px;
}

::selection {
  background-color: #ffff3d;
  -webkit-text-stroke-width: 1px;
  color: #333;
}