/* .App {
  text-align: center;
} */

.logo {
  height: 300px;
  width: 300px;
  pointer-events: none;
}

.fullLogo {
  position: relative;
}

.aboveText {
  font-size: x-large;
  /* float: left; */
  position: absolute;
  right: 0;
  top: 35%;
  z-index: 2; 
  text-shadow:    3px 0 #fff, -3px 0 #fff, 0 3px #fff, 0 -3px #fff,
                  2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
                  1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

.Sidebar {
  margin-top: 1vh;
  /* margin-left: 1vw; */
  align-items: left;
  color: #333;
  margin-left: 2em;
  /* border-right: 10px; */
}

.Information {
  /* margin-left: 1em; */
  min-width: 0px;
  max-width: 300px;
  display: flex;
  /* margin-right: 20px; */
  margin-right: 50px;
  /* padding-right: 50px; */
  /* border-right: dashed 1px; */
  /* flex-direction: row; */
}

@media (max-width: 900px) {
  .Information {
    border: none;
  }
}

.desc {
  display: block;
  text-align: left;
}

.name {
  display: flex;
  justify-content: left;
}

.name h1 {
  margin-bottom: 0;
}

.vr {
  margin: 0;
}

.contentSelection {
  display: flex;
  flex-direction: column;
  margin-top: 0.5em;
  float: left;
  text-decoration: none;
}

button {
  /* margin-top: 5%; */
  border: none;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  background-color: inherit;
  cursor: pointer;
  /* margin-top: 1em; */
  text-align: left;
  transition-duration: 200ms;
}

button p {
  text-decoration: none;
}

button:hover {
  border-right: 2px solid limegreen; /* green */
  border-bottom: 2px solid limegreen;
  transform: translate(1em, 0);
}