.bodyFlex {
    width: 100%;
    display: flex;
    /* align-items: center; */
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    /* position: absolute;
    left: 50%;
    transform: translate(-50%, 0); */
}
  
.vr {
    /* margin: 0; */
    margin-left: 1em;
    margin-right: 1em;
}
  