.card-detail {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0px;
    border: none;
}

.card-resource {
    margin-bottom: 25px;
    max-width: 3in;
    width: 3in;
    /* height: 3.5in; */
    min-width: 3in;
    /* min-height: 2.5in; */
    margin-right: 1%;
    /* max-width: 6.5in; */
}

.card-text {
    padding: 5%;
    border-style: solid;
}

.card-image {
    border-style: solid;
    max-height: 1.4in;
}