.rDetail {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0px;
    border: none;
}

.resource {
    margin-bottom: 5%;
    /* width: 6.5in; */
    max-width: 6.5in;
}

h2 {
    margin-top: 4%;
    margin-bottom: 2%;
}