.rDetail {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0px;
    border: none;
}

.resource {
    margin-bottom: 25px;
    /* width: 6.5in; */
    /* max-width: 6.5in; */
}

