.project {
    width: 6.5in;
    min-width: 6.5in;
    background-color: #fff;
    padding: 1in;
    /* padding-left: 1in;
    padding-right: 1in; */
    border: 1px solid #666;
    margin: auto;
    margin-top: 1in;
    margin-bottom: 1in;
    display: block;
}

h1 {
    margin-top: 0;
}

.backbtn {
    position: absolute;
    float: left;
    left: -1.75in;
    top: -1.75in;
    border: none;
    align-items: center;
    text-align: center;
}

.backbtn:hover{
    border: none;
    transform: translate(-1em, 0);
}

.backarrow {
    height: 20px;
}

.backbtn:hover .backarrow {
    filter: invert(63%) sepia(13%) saturate(2718%) hue-rotate(71deg) brightness(100%) contrast(87%);

}

.bbtxt {
    font-size: 25px;
    margin: 0;
}